<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= title || "The Mirror Initiative" %></title>
<link rel="stylesheet" href="/CSS/site.css" />
<%- typeof head !== "undefined" ? head : "" %>